* {
  
  box-sizing: border-box;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#logo{
  height:7em;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 100% !important;
}

.image-container {
  position: relative;
  width: 100vw; /* Full width of the viewport */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#bigImg {
  width: 100vw; /* Full width of the viewport */
  height: auto;
  display: block;
  filter: brightness(50%);
}

#bigImgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-image: linear-gradient(rgb(187, 187, 187), white);
  opacity: 100%;
  padding: 0em 10px;
  transition: 1s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  border-bottom: 2px solid #97773f;
}

#navbar a {
  color: rgb(85, 85, 85);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  opacity: 100% !important;
}

#navbar #logo {
  transition: 1s;
}

#navbar a:hover {
  color: white;
}

#navbar a.active {
  text-decoration: underline;
  color: #97773f !important;
  font-weight: bolder;
}

#navbar a.active:hover {
  color:white;
}


#navbar-right {
  margin-top:25%;
  float: right;
  transition: 1s;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #f1f1f1;
}

.topnav .icon {
  display: none;
}

#dropdown {
  float: right;
}

#grid1 {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 0px;
  background-color: #f1f1f1;
  padding: 0px;
  /*margin-top: 14.3em; */
}

#grid2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
}

#grid2right {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
}

#grid2left, #hoverImg1, #hoverImg2, #hoverImg3, #hoverImg4 {
  width: 100vw;
  max-width: 600px;
  display: block;
  margin: 0;
  padding: 0;
}

#grid2right .grid-item {
  position: relative;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  transition: max-height 0.3s ease, background-color 0.3s ease;
  max-height: 50px; 
  overflow: hidden; 
}

#grid2right .grid-item h3 {
  margin: 0;
}
#grid2right .grid-item .subtext {
  display: block;
  margin-top: 10px;
  opacity: 0; 
  transition: opacity 0.3s ease;
}
#grid2right .grid-item:hover {
  background-color: #e0e0e0;
  max-height: 150px; 
}
#grid2right .grid-item:hover .subtext {
  opacity: 1; 
}

#grid3 {
  background-color: #f1f1f1;
  padding: 10px;
}

#grid4 {
  display: grid;
  grid-template-columns: auto auto; 
  grid-gap: 10px;
  background-color: #f1f1f1;
  padding: 10px;
}

#grid5 {
  background-color: #f1f1f1;
  padding: 10px;
}

footer{
  width:100%;
  color: white;
  background-color: #333;
  position: absolute;
  text-align: center;
}

#socialLogos i{
  padding-left: 3vw;
}

#TPCLogo{
  height:20px;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

.footbody {
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

.review {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  transition: opacity 0.5s ease;
}

.review.dimmed {
  opacity: 0.5;
}

#review-carousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#prev-review, #next-review {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: #333;
  position: relative;
  transform: translateY(-50%);
}

#prev-review {
  top: -10%;
}

#next-review {
  bottom: 0;
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 601px) {
  .send-button {
    width: 99%;
  }
}



@media screen and (min-width: 601px) {
  #dropdown{
    display: block !important;
  }
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {

  #navMenuIcon{
    font-size: 2em !important;
  }

  .topnav.responsive {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav .icon {
    position: relative;
    float: right;
    right: 0;
    top: 0;
    margin-top: 10%;
    display: block;
    cursor: pointer;
    color: #333;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
  }

  #dropdownMobile {
    position: absolute;
    display: none;
    grid-template-rows: auto auto auto;
    grid-row-gap: 100px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 50%;
    font-size: 2.8em;
    margin: auto;
  }

  #dropdownMobile a {
    color: #333;
  }

  #dropdown {
    display: none;
  }

  .image-container {
    top: 7em;
    width: 100%;
    height: auto;
  }

}