* {
  
  box-sizing: border-box;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#logo{
  height:7em;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 100% !important;
}

.image-container {
  position: relative;
  width: 100vw; /* Full width of the viewport */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#bigImg {
  width: 100vw; /* Full width of the viewport */
  height: auto;
  display: block;
  filter: brightness(50%);
}

#bigImgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-image: linear-gradient(rgb(187, 187, 187), white);
  opacity: 100%;
  padding: 0em 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  border-bottom: 2px solid #97773f;
}

#navbar a {
  color: rgb(85, 85, 85);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  opacity: 100% !important;
}

#navbar #logo {
  transition: 0.8s;
}

#navbar a:hover {
  color: white;
}

#navbar a.active {
  text-decoration: underline;
  color: #97773f !important;
  font-weight: bolder;
}

#navbar a.active:hover {
  color:white;
}


#navbar-right {
  margin-top:25%;
  float: right;
  transition: 0.8s;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #f1f1f1;
}

.topnav .icon {
  display: none;
}

#dropdown {
  float: right;
}

#grid1 {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 0px;
  background-color: #f1f1f1;
  padding: 0px;
  /*margin-top: 14.3em; */
}

#grid2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
}

#grid2left, #hoverImg1, #hoverImg2, #hoverImg3, #hoverImg4 {
  width: 100vw;
  max-width: 600px;
  display: block;
  margin: 0;
  padding: 0;
}

#grid2right .grid-item {
  position: relative;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

#grid2right .grid-item h3 {
  margin: 0;
}

#grid2right .grid-item .subtext {
  display: none;
  position: absolute;
  top: 100%; /* Position below the header */
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
}

#grid2right .grid-item:hover {
  background-color: #e0e0e0;
}

#grid2right .grid-item:hover .subtext {
  display: block;
}

#grid3 {
  background-color: #f1f1f1;
  padding: 10px;
}

#grid4 {
  display: grid;
  grid-template-columns: auto auto; 
  grid-gap: 10px;
  background-color: #f1f1f1;
  padding: 10px;
}

#grid5 {
  background-color: #f1f1f1;
  padding: 10px;
}

footer{
  width:100%;
  color: white;
  background-color: #333;
  position: absolute;
  text-align: center;
}

#socialLogos i{
  padding-left: 3vw;
}

#TPCLogo{
  height:25px;
}



@media screen and (min-width: 601px) {
  #dropdown{
    display: block !important;
  }
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {

  #navMenuIcon{
    font-size: 2em !important;
  }

  .topnav .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 16px;
    cursor: pointer;
  }

    .topnav.responsive {
      position: relative;
      height: 100%;
      width: 100%;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav .icon {
      position: relative;
      float: right;
      right: 0;
      top: 0;
      margin-top: 10%;
    }
    .topnav.responsive a {
      display: block;
      text-align: left;
    }

  #navbar-rightMobile {
    display: flex;
    flex-direction: column;
  }

  #dropdownMobile {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 20%;
  }

  #dropdown {
    display: none;
  }

  .image-container {
    top: 7em;
    width: 100%;
    height: auto;
  }
}